{% extends '::base.html.twig' %}

{% block body -%}
<div class="blockaccueil corps">
    <h3>Liste des Quizz</h3>

    <div class="liste">
        {% for entity in entities %}
        <div class="marginblock_listquizz">
            <table class="records_list">
                <tr>
                    <th><div class="logotq"><a href="{{ path('quizz_show', { 'id': entity.id }) }}" title="Détail du quizz"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></a></div></th>
                    <td><a href="{{ path('quizz_show', { 'id': entity.id }) }}" title="Détail du quizz"><strong>{{ entity.title }}</strong></a><br/>
                            {{ descriptions[entity.id] }}
                    </td>
                    <td class="pointsagagner">Points à gagner<br/>{{ entity.winPoints }}</td>
                </tr>
                <tr style="height: 20px;">
                    <td colspan="3">j'aime - envoyer</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
