{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des Quizz</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Points à gagner</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('quizz_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.shortDesc }}</td>
                <td>{{ entity.winPoints }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
