{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}

    <div class="blockaccueil menu">
        <img src="{{ asset('/bundles/metinetxtremquizz/css/images/logo_xtremquizz.png') }}" id="logo"/>
        <ul class="menu">
            <li><a href="{{ path('ranking') }}" class="lien-menu">Classement</a></li>
            <li><a href="{{ path('theme') }}" class="lien-menu">Thème</a></li>
            <li><a href="{{ path('quizz_list',{ 'id' : 0}) }}" class="lien-menu">Quizz</a></li>
            <li><a onclick="sendRequestViaMultiFriendSelector()" class="lien-menu">Invitation</a></li>
            
        </ul>
    </div>
<div class="blockaccueil corps">
    {%if theme != 0 %}
        <h1>Liste des Quizz sur le theme : {{theme.title}}</h1>
        {% for entity in entities %}
            <fieldset>
                <h5>{{ entity.title }}</h5>
                <div class="logotq"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></div> <br/>
                Déscription : {{ entity.shortDesc }}<br/>
                Points à gagner : {{ entity.winPoints }}<br/>
                <a href="{{ path('quizz_show', { 'id': entity.id }) }}">voir le quizz !</a><br/>
            </fieldset>
        {% endfor %}
    {% else %}
    <h1>Liste des Quizz</h1>
        {% for entity in entities %}
            <fieldset>
                <div class="logotq"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></div> <br/>
                Déscription : {{ entity.shortDesc }}<br/>
                Points à gagner : {{ entity.winPoints }}<br/>
                <a href="{{ path('quizz_show', { 'id': entity.id }) }}">voir le quizz !</a><br/>
            </fieldset>
        {% endfor %}
    {% endif %}
    </div>
    {% endblock %}
