{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}

<div class="blockaccueil corps">
    {%if theme != 0 %}
        <h3>Liste des Quizz sur le theme : {{theme.title}}</h3>
        <div class="liste">
        {% for entity in entities %}
            <div class="marginblock_listquizz">
                <table class="records_list">
                    <tr>
                        <th><div class="logotq"><a href="{{ path('quizz_show', { 'id': entity.id }) }}" title="Détail du quizz"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></a></div></th>
                        <td><a href="{{ path('quizz_show', { 'id': entity.id }) }}" title="Détail du quizz"><strong>{{ entity.title }}</strong></a><br/>
                                {{ descriptions[entity.id] }}
                        </td>
                        <td class="pointsagagner">Points à gagner<br/>{{ entity.winPoints }}</td>
                    </tr>
                    <tr style="height: 20px;">
                        <td colspan="3"><span class="fb-like" data-href ="{{ url}}{{ path('quizz_show', { 'id': entity.id }) }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></span></td>
                    </tr>
                    {% if entity.user != NULL %}
                        {% for user in entity.user %}
                                    <tr>
                                        <td class="img_accueil"><img src="https://graph.facebook.com/{{ user.fb_uid }}/picture" /></td>
                                        <td id="infos_joueur_accueil"><span class="gras">{{ user.firstname }} {{ user.lastname }}</span><br />
                                            {{ user.points }} points<br />
                                        {% if user.average_time != NULL %}
                                            Temps moyen : {{ user.average_time }} s<br />
                                        {% endif %}
                                        </td>
                                        <button onclick="publishFriendWALL({{ user.fb_uid }},'{{entity.title}}')">Défier</button></td>
                                    </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        {% endfor %}
        </div>
    {% else %}
    <h3>Liste des Quizz</h3>
    <div class="liste">
        {% for entity in entities %}
            <div class="marginblock_listquizz">
                <table class="records_list">
                    <tr>
                        <th><div class="logotq"><a href="{{ path('quizz_show', { 'id': entity.id }) }}" title="Détail du quizz"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></a></div></th>
                        <td><a href="{{ path('quizz_show', { 'id': entity.id }) }}" title="Détail du quizz"><strong>{{ entity.title }}</strong></a><br/>
                                {{ descriptions[entity.id] }}
                        </td>
                        <td class="pointsagagner">Points à gagner<br/>{{ entity.winPoints }}</td>
                    </tr>
                    <tr style="height: 20px;">
                        <td colspan="3"><span class="fb-like" data-href ="{{ url}}{{ path('quizz_show', { 'id': entity.id }) }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></span></td>
                    </tr>
                {% if entity.user != 'NULL' %}
                    {% for user in entity.user %}
                        <tr>
                            <td class="img_accueil"><img src="https://graph.facebook.com/{{ user.fb_uid }}/picture" /></td>
                            <td id="infos_joueur_accueil"><span class="gras">{{ user.firstname }} {{ user.lastname }}</span><br />
                                {{ user.points }} points<br />
                            {% if user.average_time != NULL %}
                                Temps moyen : {{ user.average_time }} s<br />
                            {% endif %}
                            </td>
                            <button onclick="publishFriendWALL({{ user.fb_uid }}, '{{ entity.title }}')">Défier</button></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </table>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    </div>
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=155515477957724";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        function publishWALL(monClassement, total){
               FB.ui(
                {
                    method: 'feed',
                    name: 'XtremQUIZZ',
                    link: 'http://apps.facebook.com/xtremquizz-mamori',
                    caption: "XtremQUIZZ",
                    description: "Mon classement à XtremQUIZZ :"+ monClassement + "/" + total
                },
                function(response) {
                    if (response && response.post_id) {
                    } else {
                    }
                }
                );
        }
        function requestCallback(response) {
         // Handle callback here
        }
        function defierAmis(ID) {
            FB.ui({method: 'apprequests',
                message: "Oo C'est l'heure du dududu duel  ! oO",
                to: ID
            }, requestCallback);
        }
         function publishFriendWALL(ID,quizzTitle){
               FB.ui(
                {
                    method: 'feed',
                    name: 'XtremQUIZZ',
                    link: 'http://apps.facebook.com/xtremquizz-mamori',
                    caption: 'XtremQuizz',
                    description: "Je te défie d'en savoir plus que moi sur le quizz : "+quizzTitle,
                    to: ID
                },
                function(response) {
                    if (response && response.post_id) {
                    } else {
                    }
                }
                );
        }
         function sendRequestViaMultiFriendSelector() {
            FB.ui({method: 'apprequests',
                message: 'Oo Viens jouer avec moi ! oO',
            }, requestCallback);
        }
        function requestCallback(response) {
         // Handle callback here
        }
    </script>
{% endblock %}
