{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}

<div class="blockaccueil corps">
    {%if theme != 0 %}
        <h1>Liste des Quizz sur le theme : {{theme.title}}</h1>
        {% for entity in entities %}
            <fieldset>
                <h5>{{ entity.title }}</h5>
                <div class="logotq"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></div> <br/>
                Déscription : {{ entity.shortDesc }}<br/>
                Points à gagner : {{ entity.winPoints }}<br/>
                <a href="{{ path('quizz_show', { 'id': entity.id }) }}">voir le quizz !</a><br/>
            </fieldset>
        {% endfor %}
    {% else %}
    <h1>Liste des Quizz</h1>
        {% for entity in entities %}
            <fieldset>
                <div class="logotq"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></div> <br/>
                Déscription : {{ entity.shortDesc }}<br/>
                Points à gagner : {{ entity.winPoints }}<br/>
                <a href="{{ path('quizz_show', { 'id': entity.id }) }}">voir le quizz !</a><br/>
            </fieldset>
        {% endfor %}
    {% endif %}
    </div>
    {% endblock %}
