{% extends '::base.html.twig' %}

{% block body %}
<h1>{{ quizz.title }}</h1>
    {% for questionForm in questionsForm %}
<form class="{% if loop.index != 1 %}hidden{% endif %}" action="{{ path('answer_validate') }}" method="post" {{ form_enctype(questionForm) }}>
                {{ form_widget(questionForm) }}
    </form>
    {% endfor %}
    <div>
        <a href="{{ path('quizz_show', { 'id': quizz.id }) }}">
            Retour à la fiche
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/bundles/metinetxtremquizz/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".answers input").click(function() {
                answer = $(this);
                answer_id = answer.val();
                question_id = answer.parent().attr('class').split(' ')[1].split('_')[1];
                $.post(answer.parents("form").attr('action'), { "answer_id": answer_id }, function(data, textStatus) {
                    answer.parents("form").addClass("hidden");
                    answer.parents("form").next("form").removeClass("hidden");
                }, "json");
            });
        });
        </script>
{% endblock %}