{% extends '::base.html.twig' %}

{% block body %}
<h1>{{ quizz.title }}</h1>
    <div id="timer"></div>
    {% for questionForm in questionsForm %}
    <form class="{% if loop.index != 1 %}hidden{% endif %}" action="{{ path('answer_validate') }}" method="post" {{ form_enctype(questionForm) }}>
        {{ form_widget(questionForm) }}
    </form>
    {% endfor %}
        
    <div>
        <a href="{{ path('quizz_show', { 'id': quizz.id }) }}">
            Retour à la fiche
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/bundles/metinetxtremquizz/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/metinetxtremquizz/js/jquery.chrono.js') }}"></script>
    <script type="text/javascript">
        var quizzResultId = 0;
        var start = 0;
        var end = 0;
        var diff = 0;
        var timerID = 0;
        
        $(document).ready(function() {
            $(".answers input").click(function() { // L'utilisateur répond à une question
                answer = $(this);
                answer_id = answer.val();
                question_id = answer.parent().attr('class').split(' ')[1].split('_')[1];
                // On valide la réponse à la question en AJAX
                $.post(answer.parents("form").attr('action'), {"answer_id": answer_id})
                .done(function(data) {
                    // Une fois validée on masque la question pour afficher la suivante s'il y en a une
                    answer.parents("form").addClass("hidden");
                    if (answer.parents("form").next("form").length > 0) {
                        answer.parents("form").next("form").removeClass("hidden");
                    } else {
                        // S'il n'y a plus de question on valide la fin du Quizz en Ajax
                        $.post("{{ path('quizz_end') }}", {'quizz_result_id': quizzResultId})
                        .done(function(data) {
                            //Une fois validée on arrête le chronomètre et on redirige sur la page de résultat
                            Stop(timerID);
                            top.location.href= '{{ path('quizz_result', { 'id': quizz.id }) }}';
                        });
                    }
                });
            });
            
            // Dès que la page a finie de charger on enregistre en base la date de début du quizz et on lance un chronomètre
            $.post("{{ path('quizz_start') }}", {'user_id': {{ userId }}, 'quizz_id': {{ quizz.id }}})
            .done(function(data) {
                // Si l'utilisateur reviens sur un quizz déjà commencé on récupère la date à laquelle il l'avait commencé pour ajuster le chronomètre
                Start(data['createdAt']);
                quizzResultId = data['quizz_result_id'];
                chrono();
            });
        });
    </script>
{% endblock %}