{% extends '::base.html.twig' %}

{% block body %}
    <div id="result_screen">
        {{ quizz.title }}
        {{ quizz.txtWin }}
        {{ quizz.averageTime }}
        {{ quizz.picture }}

        {{ quizzResult.average }}
        {{ quizzResult.elapsedTime }}
    </div>
{% endblock %}