{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ quizz.title }}</h1>
    <div>{{ quizz.picture }}</div>
    
    <div>{{ quizz.longDesc }}</div>
    <div>Nombre de questions: {{ quizz.questions|length }}</div>
    
    <div>
        {% if friendUsers is defined %}
            <ul>
                {% for friendUser in friendUsers %}
                    <li>{{ friendUser.firstname }} {{ friendUser.lastname }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <button onclick="defierUnAmis()">Défier un ami</button>
        {% endif %}
    </div>
    
    <div>
        Classement:
        <table>
            <thead>
                <th>Position</th>
                <th>Prénom</th>
                <th>Score</th>
            </thead>
            <tbody>
        {% for user in top10 %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.points }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div>
        {% if quizzResult is not null %}
            Quizz complété à {{ quizzResult.average }} pour {{ quizzResult.winPoints }} points.
            {% if quizzResult.average <= 25 %}
                {{ quizz.txtWin4 }}
            {% elseif quizzResult.average <= 50 %}
                {{ quizz.txtWin3 }}
            {% elseif quizzResult.average < 100 %}
                {{ quizz.txtWin2 }}
            {% else %}
                {{ quizz.txtWin1 }}
            {% endif %}
        {% else %}
            Quizz non complété.
        {% endif %}
    </div>
    
    <a href="{{ path('quizz_process', { 'id': quizz.id }) }}">Lancer le quizz</a>
    
    <div>
        <a href="{{ path('quizz') }}">
            Retour à la liste
        </a>
    </div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script>
        function defierUnAmis() {
            FB.ui({
                method: 'apprequests',
                message: {{ quizz.shareWallDesc }}",
            }, requestCallback);
        }
        function requestCallback(response) {
         // Handle callback here
        }
    </script>
{% endblock %}