{% extends '::base.html.twig' %}

{% block body -%}
<div class="blockaccueil menu">
    <img src="{{ asset('/bundles/metinetxtremquizz/images/logo_xtremquizz.png') }}" id="logo"/>
    <ul class="menu">
        <li><a href="{{ path('admin') }}">Accueil</a></li>
        <li><a href="{{ path('admin_theme') }}">Gestion des thèmes</a></li>
        <li><a href="{{ path('admin_quizz') }}">Gestion des quizz</a></li>
        <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
    </ul>
</div>

<div class="blockaccueil corps">
    <h3>Nouveau theme</h3>

    <div class="liens">
        <a href="{{ path('admin_theme') }}">Retour à la liste <img src="{{ asset('/bundles/metinetxtremquizz/images/retour.png') }}" size="10" /></a>
    </div>
    
    <form action="{{ path('admin_theme_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
            <p>
                <button type="submit">Créer</button>
            </p>
    </form>
</div>
{% endblock %}
