{% extends '::base.html.twig' %}

{% block body -%}
<h1>XTREM QUIZZ</h1>

<ul class="menu">
    <li><a href="{{ path('admin_theme') }}">Gestion des thèmes</a></li>
    <li><a href="{{ path('admin_quizz') }}">Gestion des quizz</a></li>
</ul>

<h2>Theme {{ entity.title }}</h2>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Image</th>
            <td>{{ entity.picture }}</td>
        </tr>
        <tr>
            <th>Petite description</th>
            <td>{{ entity.shortDesc }}</td>
        </tr>
        <tr>
            <th>Grande description</th>
            <td>{{ entity.longDesc }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_theme') }}">Retour à la liste</a>
    </li>
    <li>
        <a href="{{ path('admin_theme_edit', { 'id': entity.id }) }}">Modifier</a>
    </li>
    <li>
        <form action="{{ path('admin_theme_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}
