{% extends '::base.html.twig' %}

{% block body -%}
<div class="blockaccueil menu">
    <img src="{{ asset('/bundles/metinetxtremquizz/images/logo_xtremquizz.png') }}" id="logo"/>
    <ul class="menu">
        <li><a href="{{ path('admin') }}">Accueil</a></li>
        <li><a href="{{ path('admin_theme') }}">Gestion des thèmes</a></li>
        <li><a href="{{ path('admin_quizz') }}">Gestion des quizz</a></li>
        <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
    </ul>
</div>

<div class="blockaccueil corps">
    <h3>Questions</h3>
    
    <div class="liens">
        <a href="{{ path('admin_question_new') }}">Nouvelle question</a>
        <a href="{{ path('admin_quizz') }}">Retour à la liste des quizz</a>
    </div>
    
    <table class="records_list">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_question_show', { 'id': entity.id }) }}">Afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_question_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
