{% extends '::base.html.twig' %}

{% block body -%}
<div class="blockaccueil menu">
    <img src="{{ asset('/bundles/metinetxtremquizz/images/logo_xtremquizz.png') }}" id="logo"/>
    <ul class="menu">
        <li><a href="{{ path('admin') }}">Accueil</a></li>
        <li><a href="{{ path('admin_theme') }}">Gestion des thèmes</a></li>
        <li><a href="{{ path('admin_quizz') }}">Gestion des quizz</a></li>
        <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
    </ul>
</div>

<div class="blockaccueil corps">
    <h3>Question</h3>
    
    <div class="liens">
        <a href="{{ path('admin_question_edit', { 'id': entity.id }) }}">Modifier</a>
        <a href="{{ path('admin_question') }}">Retour à la liste</a>        
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.picture }}</td>
            </tr>
        </tbody>
    </table>
    
    <form action="{{ path('admin_question_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit">Supprimer</button>
    </form>
</div>
{% endblock %}
