{% extends '::base.html.twig' %}

{% block body %}
    <style>
        img {
        margin-left: 25px;
        width: 74px;
       }
    </style>
    {% set user = app.session.get('user') %}
    <h2>Hello {{ user.firstname }} {{ user.lastname }}</h2>
    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
    <p>
        <strong>ID SQL</strong>: {{ user.id }}<br />
        <strong>ID Facebook</strong>: {{ user.fb_uid }}<br />
        <strong>Créé en BDD le</strong>: {{ user.created_at|date('d/m/Y H:i') }}
    </p>
    <button onclick="publishWALL()">Publier</button>
    <button onclick="sendRequestViaMultiFriendSelector()">Inviter</button>
    <h3>Mes amis :</h3>
    {% for friend in friends %}
    <div style="float: left; margin: 10px 15px;">
        <h4>{{ friend.name }} :</h4>
        <img src="https://graph.facebook.com/{{ friend.id }}/picture" alt="{{ friend.name }}" title="{{ friend.name }}" onclick="publishFriendWALL( {{ friend.id }} )" />
        <br/><button onclick="publishFriendWALL({{ friend.id }})">Publier</button>
        <button onclick="sendRequestToRecipients({{ friend.id }})">Inviter</button>
    </div>
    {% endfor %}
    <div id="fb-root"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function publishWALL(){
               FB.ui(
                {
                    method: 'feed',
                    name: 'My animes',
                    link: 'http://apps.facebook.com/metinetbucheron/amis',
                    picture: 'http://192.168.20.130/apple-touch-icon.png?2',
                    caption: 'Les meilleures animes',
                    description: 'Découvrez les meilleures animes.'
                },
                function(response) {
                    if (response && response.post_id) {
                        alert('Le message a bien été publié.');
                    } else {
                        alert('Erreur: Le message n’a pas été publié…');
                    }
                }
                );
        }
        function publishFriendWALL(ID){
               FB.ui(
                {
                    method: 'feed',
                    name: 'My animes',
                    link: 'http://apps.facebook.com/metinetbucheron/amis',
                    picture: 'http://192.168.20.130/apple-touch-icon.png?2',
                    caption: 'Les meilleures animes',
                    description: 'Découvrez les meilleures animes.',
                    to: ID
                },
                function(response) {
                    if (response && response.post_id) {
                        alert('Le message a bien été publié.');
                    } else {
                        alert('Erreur: Le message n’a pas été publié…');
                    }
                }
                );
        }
        function sendRequestToRecipients(ID) {
            FB.ui({method: 'apprequests',
                message: 'Oo Viens jouer avec moi ! oO',
                to: ID
            }, requestCallback);
        }
        
        function sendRequestViaMultiFriendSelector() {
            FB.ui({method: 'apprequests',
                message: 'Oo Viens jouer avec moi ! oO',
            }, requestCallback);
        }
        function requestCallback(response) {
         // Handle callback here
        }
    </script>
{% endblock %}