{% extends '::base.html.twig' %}

{% block body -%}
<div class="blockaccueil menu">
    <img src="{{ asset('/bundles/metinetxtremquizz/css/images/logo_xtremquizz.png') }}" id="logo"/>  
    <ul class="menu">
        <li><a href="{{ path('admin') }}">Accueil</a></li>
        <li><a href="{{ path('admin_theme') }}">Gestion des thèmes</a></li>
        <li><a href="{{ path('admin_quizz') }}">Gestion des quizz</a></li>
        <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
    </ul>
</div>

<div class="blockaccueil corps">
    <h3>Liste des quizz</h3>

    <div class="liens"><a href="{{ path('admin_quizz_new') }}">Nouveau quizz <img src="{{ asset('/bundles/metinetxtremquizz/css/images/plus.png') }}" /></a></div>
       
    <div class="liste">
        {% for entity in entities %}
        <div class="margin_block_qt">
            <table class="records_list">
                <tr>
                    <th><div class="logotq"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></div></th>
                    <td><strong>{{ entity.title }}</strong><br/>
                            {{ entity.shortDesc }}</td>
                    <td class="actions">
                        <a href="{{ path('admin_quizz_show', { 'id': entity.id }) }}">Afficher</a>
                        <a href="{{ path('admin_quizz_edit', { 'id': entity.id }) }}">Modifier</a>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}
