{% extends '::base.html.twig' %}

{% block body -%}
    <h1>XTREM QUIZZ</h1>
        
    <ul class="menu">
        <li><a href="{{ path('admin') }}">Accueil</a></li>
        <li><a href="{{ path('admin_theme') }}">Gestion des thèmes</a></li>
        <li><a href="{{ path('admin_quizz') }}">Gestion des quizz</a></li>
    </ul>

    <h2>Nouveau quizz</h2>

    <form action="{{ path('admin_quizz_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Créer</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_quizz') }}">Retour à la liste</a>
    </li>
</ul>
{% endblock %}
