{% extends '::baseAdmin.html.twig' %}

{% block body -%}
<div class="blockaccueil corps">
    <h3>Nouveau quizz</h3>
    
    <div class="liens">
        <a href="{{ path('admin_quizz') }}">Retour à la liste des quizz <img src="{{ asset('/bundles/metinetxtremquizz/css/images/retour.png') }}" size="10" /></a>
    </div>

    <form action="{{ path('admin_quizz_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
            <p>
                <button type="submit">Créer</button>
            </p>
    </form>

    
</div>
{% endblock %}
