{% extends '::baseAdmin.html.twig' %}

{% block body -%}
<div class="blockaccueil corps">
    <h3>{{ entity.title }}</h3>

    <div class="liens">
        <a href="{{ path('admin_quizz_edit', { 'id': entity.id }) }}">Modifier <img src="{{ asset('/bundles/metinetxtremquizz/css/images/update.png') }}" size="10" /></a>
        <a href="{{ path('admin_question', { 'id': entity.id }) }}">Voir les questions <img src="{{ asset('/bundles/metinetxtremquizz/css/images/oeil.png') }}" size="10" /></a>
        <a href="{{ path('admin_quizz_delete', { 'id': entity.id }) }}">Supprimer <img src="{{ asset('/bundles/metinetxtremquizz/css/images/moins.png') }}" size="10" /></a>
        <a href="{{ path('admin_quizz') }}">Retour à la liste des quizz <img src="{{ asset('/bundles/metinetxtremquizz/css/images/retour.png') }}" size="10" /></a>
    </div>

    <div class="block_detail">
        <table>
            <tr>
                <td><img src="{{ asset(entity.webPath) }}" class="image" /></td>
                <td><h2>Quizz {{ entity.title }}</h2>
                    <em>Créé le {{ entity.createdAt|date('d-m-Y') }}<br/>
                     {{ nbQuestion }} questions</em></td>
            </tr>
        </table>

        <div>
            <h4>Informations</h4>
            <p><strong>{{ entity.winPoints }}</strong> points à gagner.</p>
            <p>Temps de réponse de <strong>{{ entity.averageTime }}</strong> secondes en moyenne.</p>
        </div>

        <div>
            <h4>Description</h4>      
            <p>{{ entity.longDesc }}</p>
        </div>

        <div>
            <h4>Resultats</h4>
            <h5>Premier</h5>
            <p>{{ entity.txtWin1 }}</p>
            <h5>Deuxième</h5>
            <p>{{ entity.txtWin2 }}</p>
            <h5>Troisième</h5>
            <p>{{ entity.txtWin3 }}</p>
            <h5>Quatrième</h5>
            <p>{{ entity.txtWin4 }}</p>            
        </div>

        <div>
            <h4>Partage</h4>
            <h5>Titre du partage</h5>
            <p>{{ entity.shareWallTitle }}</p>
            <h5>Description du partage</h5>
            <p>{{ entity.shareWallDesc }}</p>            
        </div>
    </div>
</div>
{% endblock %}
