{% extends '::base.html.twig' %}

{% block body %}
    <div id="result_screen">
        <h1>{{ quizz.title }} - Résultat</h1>
        <div>{{ quizz.picture }} {{ quizz.txtWin }}</div>
        <div>
            <p>Temps moyen: {{ quizz.averageTime }} secondes</p>
            <p>Temps écoulé: {{ quizzResult.elapsedTime }}</p>
            <p>Taux de réussite: {{ quizzResult.average }}%</p>
        </div>
        <a href="{{ path('quizz_show', { 'id': quizz.id }) }}">
            Retour à la fiche
        </a>
    </div>
    
{% endblock %}