{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}

    <div class="blockaccueil menu">
        <img src="{{ asset('/bundles/metinetxtremquizz/images/logo_xtremquizz.png') }}" id="logo"/>
        <ul class="menu">
            <li><a href="{{ path('ranking') }}" class="lien-menu">Classement</a></li>
            <li><a href="{{ path('admin') }}" class="lien-menu">Quizz</a></li>
            <li><a href="{{ path('admin') }}" class="lien-menu">Invitation</a></li>
        </ul>
    </div>

    <div class="blockaccueil corps">
    <h3>Votre profil</h3>
    
    <table>
        <tr>
            <td class="width_100">
                <img src="https://graph.facebook.com/{{ user.fb_uid }}/picture?type=large&width=120&height=120"/>
            </td>
            <td style="padding-bottom: 83px;">
                <div class="titres-block">{{ user.firstname }} {{ user.lastname }}</div>
                Points: {{ points }} <br />
                Temps moyen : {{ averageTime }} secondes<br />
                    {% if classementJoueur == NULL %}
                         Classement général: {{ totalJoueur }}/{{ totalJoueur }}
                    {% else %}
                          Classement général: {{ classementJoueur }}/{{ totalJoueur }}
                    {% endif %}
                    <button onclick="publishWALL({{ classementJoueur }}, {{ totalJoueur }})">Publier</button>
            </td>
        </tr>
    </table>
    
    <h3 style="margin-top: 15px;">Les derniers quizz disponibles</h3>

    <table style="width: 210px">
        {% for quizz in LastQuizz %}
            <tr>
                <td><a href="{{ path('quizz_show', { 'id': quizz.id }) }}"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ quizz.picture) }}" width="50" /></a></td>
                <td><a href="{{ path('quizz_show', { 'id': quizz.id }) }}">{{quizz.title}}</a><br/>
                    Points à gagner: {{ quizz.winPoints }}</td>
            </tr>
        {% endfor %}
    </table>
     
    {% if displayFriend == 0 %}
      <h3 style="margin-top: 25px">Classement général</h3>

    <table class="classement_list">
        {% for entity in entities %}
            {% if (entity.rank <= myRank + 2) and (entity.rank >= myRank - 2) %}
                    <tr>
                        <td>{{ entity.rank }}</td>
                        <td><span class="gras">{{ entity.firstname }} {{ entity.lastname }}</span><br />
                            {{ entity.points }} points<br />
                            Temps moyen: {{ entity.averageTime }}sec</td>
                        <td><button onclick="defierAmis({{ entity.fbUid }})">Inviter</button>
                        <button onclick="publishFriendWALL({{ entity.fbUid }})">Défier</button></td>
                    </tr>
            {% endif %}
        {% endfor %}
    </table>
      {% else %}
          <h3 style="margin-top: 25px">Classement des amis</h3>

            <table class="records_list">
               {% set i = 1%}
               {% for entity in entities %}
                    {% if (entity.fbUid == user.fb_uid) %}
                        <tr>
                            <td>{{ entity.rank }}</td>
                            <td>{{ i }}</td>
                            <td>{{ entity.firstname }}</td>
                            <td>{{ entity.lastname }}</td>
                            <td>{{ entity.points }}</td>
                            <td>{{ entity.averageTime }}</td>
                            <td><button onclick="defierAmis({{ entity.fbUid }})">Inviter</button><br/>
                            <button onclick="publishFriendWALL({{ entity.fbUid }})">Défier</button></td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endif %}
                    {% for friend in friends %}
                        {% if (entity.fbUid == friend.id) and (entity.rank <= myRank + 2) and (entity.rank >= myRank - 2) %}
                            <tr>
                                <td>{{ entity.rank }}</td>
                                <td>{{ i }}</td>
                                <td>{{ entity.firstname }}</td>
                                <td>{{ entity.lastname }}</td>
                                <td>{{ entity.points }}</td>
                                <td>{{ entity.averageTime }}</td>
                                <td><button onclick="defierAmis({{ entity.fbUid }})">Inviter</button><br/>
                                <button onclick="publishFriendWALL({{ entity.fbUid }})">Défier</button></td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endif %}
                   {% endfor %}
                {% endfor %}
            </table>
      {% endif %}
    </p>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        function publishWALL(monClassement, total){
               FB.ui(
                {
                    method: 'feed',
                    name: 'XtremQUIZZ',
                    link: 'http://apps.facebook.com/xtremquizz-mamori',
                    caption: "XtremQUIZZ",
                    description: "Mon classement à XtremQUIZZ :"+ monClassement + "/" + total
                },
                function(response) {
                    if (response && response.post_id) {
                    } else {
                    }
                }
                );
        }
        function requestCallback(response) {
         // Handle callback here
        }
        function defierAmis(ID) {
            FB.ui({method: 'apprequests',
                message: "Oo C'est l'heure du dududu duel  ! oO",
                to: ID
            }, requestCallback);
        }
         function publishFriendWALL(ID){
               FB.ui(
                {
                    method: 'feed',
                    name: 'XtremQUIZZ',
                    link: 'http://apps.facebook.com/xtremquizz-mamori',
                    caption: 'Les quizz des vrais warrior',
                    description: '',
                    to: ID
                },
                function(response) {
                    if (response && response.post_id) {
                    } else {
                    }
                }
                );
        }
    </script>
{% endblock %}