{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}

    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
    <img src="https://graph.facebook.com/{{ user.fb_uid }}/picture?type=large"/>
    <p>
        {{ user.firstname }} {{ user.lastname }}<br />
        Points: {{ points }} <br />
            {% if classementJoueur == NULL %}
                 Classement général: {{ totalJoueur }}/{{ totalJoueur }}
            {% else %}
                  Classement général: {{ classementJoueur }}/{{ totalJoueur }}
            {% endif %}
       
    </p>
    
    <h2>Les derniers quizz disponibles</h2>

    <p>
        Quizz 1<br />
        Quizz 2<br />
        Quizz 3<br />
        Quizz 4
    </p>
    
    <h2>Classement de vos amis</h2>
	
{% endblock %}