{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}
    <div class="blockaccueil corps">
    <h3>Liste des thèmes</h3>

    <div class="paging_container">
        <div class="liste">
            {% for entity in entities %}
                {% if entity.nbQuizz > 0 %}
                    <span class="content">
                        <div class="margin_block_qt">
                            <table class="records_list">
                                <tr>
                                    <th><div class="logotq"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></div></th>
                                    <td><strong>{{ entity.title }}</strong><br/>
                                        {{ entity.shortDesc }}</td>
                                    <td>{{entity.nbQuizz}} quizz</td>
                                    <td class="actions_quizz">
                                        <a href="{{ path('quizz_list', { 'id': entity.id }) }}">Voir les Quizz</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="page_navigation"></div>
    </div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
         function sendRequestViaMultiFriendSelector() {
            FB.ui({method: 'apprequests',
                message: 'Oo Viens jouer avec moi ! oO',
            }, requestCallback);
        }
        function requestCallback(response) {
         // Handle callback here
        }
    </script>
{% endblock %}
