{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}
    <div class="blockaccueil corps">
    <h3>Liste des thèmes :</h3>

    <table class="record_properties">
            {% for entity in entities %}
                 {% if entity.nbQuizz > 0 %}
            <h5>{{ entity.title }} : </h5> <br/>
            <div class="logotq"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ entity.picture) }}" /></div> <br/>
                    Déscription : {{ entity.shortDesc }} <br/>
                    Nombre de quizz : {{entity.nbQuizz}} <br/>
                <a href="{{ path('quizz_list', { 'id': entity.id }) }}">Voir les Quizz</a>
                 {% endif %}
            {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
         function sendRequestViaMultiFriendSelector() {
            FB.ui({method: 'apprequests',
                message: 'Oo Viens jouer avec moi ! oO',
            }, requestCallback);
        }
        function requestCallback(response) {
         // Handle callback here
        }
    </script>
{% endblock %}
