{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}

<div class="blockaccueil menu">
    <img src="{{ asset('/bundles/metinetxtremquizz/images/logo_xtremquizz.png') }}" id="logo"/>
    <ul class="menu menu-position">
        <li><a href="{{ path('admin') }}" class="lien-menu">Accueil</a></li>
        <li><a href="{{ path('admin_theme') }}" class="lien-menu">Gestion des thèmes</a></li>
        <li><a href="{{ path('admin_quizz') }}" class="lien-menu">Gestion des quizz</a></li>
        <li><a href="{{ path('deconnexion') }}" class="lien-menu">Déconnexion</a></li>
    </ul>
</div>

<div class="blockaccueil corps">
    <h2>Statistiques</h2>

    <table>
        <tr class="titres-block">
            <td>Joueurs</td>
            <td>Classement</td>
        </tr>
        
        <tr>
            <td class="blockblue">
                <div class="contenustat">
                    <p>Nombre de joueurs : {{ nbJoueur }}</p>
                    <p>Nouveaux joueurs (7 jours) : {{ nbJoueur7j }}</p>
                    <p>Nouveaux joueurs (30 jours) : {{ nbJoueur30j }}</p>
                </div>
            </td>

            <td rowspan="3" class="blockblue" valign="top">
                <ul id="menu-classement">
                        <li><a href="#" onclick="show('top', 'flop', 'dixjoueurs');">Les 3 tops</a></li>
                        <li><a href="#" onclick="show('flop', 'top', 'dixjoueurs');">Les 3 flops</a></li>
                        <li><a href="#" onclick="show('dixjoueurs', 'flop', 'top');">Derniers joueurs</a></li>
                    </ul>
                
                <div class="contenustat overflow">
                    <!-- BLOCK 3 TOPS -->                    
                    <div id="top" class="table-classement">
                        <h4>Les trois quizz les plus lancés</h4>
                        <table>
                            {% for t in top %}
                            <tr>
                                <td id="img-class-top"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ t['picture']) }}" /></td>
                                <td id="pts-class-top">{{ t['title'] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        
                    </div>
                    
                    <!-- BLOCK 3 FLOPS -->
                    <div id="flop" class="table-classement">
                        <h4>Les trois quizz les moins lancés</h4>
                        <table>
                            {% for f in flop %}
                            <tr>
                                <td id="img-class-flop"><img src="{{ asset('/bundles/metinetxtremquizz/images/' ~ f['picture']) }}" /></td>
                                <td id="pts-class-flop">{{ f['title'] }}</td>
                            </tr>
                            {% endfor %}
                        </table>                        
                    </div>
                    
                    <!-- BLOCK 10 DERNIERS JOUEURS -->
                    <div id="dixjoueurs" class="table-classement">
                        <h4>Les dix derniers inscrits sur l'application</h4>
                        <table>
                        {% for j in derniersJoueurs %}
                                <tr>
                                    <td id="img-class-joueurs"><img src="https://graph.facebook.com/{{ j['fbUid'] }}/picture" /></td>
                                    <td id="pts-class-joueurs"><span>{{ j['firstname'] }} {{ j['lastname'] }}</span><br/>
                                        {% if j['points'] == NULL %}
                                            0 point
                                        {% else %}
                                            {{ j['points'] }} points
                                        {% endif %}
                                    </td>
                                </tr>
                         {% endfor %}
                         </table>
                     </div>
                </div>
            </td>
        </tr>

        <tr class="titres-block">
            <td>Quizz</td>
        </tr>
        
        <tr>
            <td class="blockblue">
                <div class="contenustat">
                    <p>Nombre de quizz disponibles : {{ nbQuizz }}</p>
                    <p>Nombre de quizz lancés par les joueurs : {{ nbQuizzJoues }}</p>
                    <p>Score moyen des joueurs : {{ scoreMoyen }}</p>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}