{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}
	<h1>XTREM QUIZZ</h1>
        
        <ul class="menu">
            <li><a href="{{ path('admin') }}">Accueil</a></li>
            <li><a href="{{ path('admin_theme') }}">Gestion des thèmes</a></li>
            <li><a href="{{ path('admin_quizz') }}">Gestion des quizz</a></li>
        </ul>
        
        <div>
            Nombre de joueurs : {{ nbJoueur }}<br/>
            Nouveaux joueurs (7 jours) : {{ nbJoueur7j }}<br/>
            Nouveaux joueurs (30 jours) : {{ nbJoueur30j }}<br/>
        </div>
        
        <div>
            Nombre de quizz disponibles : {{ nbQuizz }}<br/>
            Nombre de quizz lancés par les joueurs : {{ nbQuizzJoues }}<br/>
        </div>   
        
        <div>Score moyen des joueurs : {{ scoreMoyen }}<br/></div>
        
        <div>
            Les 3 tops : 
                <ul>
                    {% for t in top %}
                        <li>{{ t['title'] }}</li>
                    {% endfor %}
                </ul>
            Les 3 flops :
                <ul>
                    {% for f in flop %}
                        <li>{{ f['title'] }}</li>
                    {% endfor %}
                </ul>
        </div>
{% endblock %}