{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}

<div class="blockaccueil menu">
    <img src="{{ asset('/bundles/metinetxtremquizz/images/logo_xtremquizz.png') }}" id="logo"/>
    <ul class="menu menu-position">
        <li><a href="{{ path('admin') }}" class="lien-menu">Accueil</a></li>
        <li><a href="{{ path('admin_theme') }}" class="lien-menu">Gestion des thèmes</a></li>
        <li><a href="{{ path('admin_quizz') }}" class="lien-menu">Gestion des quizz</a></li>
        <li><a href="{{ path('deconnexion') }}" class="lien-menu">Déconnexion</a></li>
    </ul>
</div>

<div class="blockaccueil corps">
    <h2>Statistiques</h2>

    <table>
        <tr class="titres-block">
            <td>Joueurs</td>
            <td>Classement</td>
        </tr>
        
        <tr>
            <td class="blockblue">
                <div class="contenustat">
                    <p>Nombre de joueurs : {{ nbJoueur }}</p>
                    <p>Nouveaux joueurs (7 jours) : {{ nbJoueur7j }}</p>
                    <p>Nouveaux joueurs (30 jours) : {{ nbJoueur30j }}</p>
                </div>
            </td>

            <td rowspan="3" class="blockblue">
                <div class="contenustat">
                    <ul id="menu-classement">
                        <li>Les 3 tops</li>
                        <li>Les 3 flops</li>
                    </ul>
                    
                    <ul>
                        {% for t in top %}
                        <li>{{ t['title'] }}</li>
                        {% endfor %}
                        <li>truc</li>
                        <li>truc</li>
                        <li>truc</li>
                        <li>truc</li>
                        <li>truc</li>
                        <li>truc</li>
                        <li>truc</li>
                    </ul>
                    <ul>
                        {% for f in flop %}
                        <li>{{ f['title'] }}</li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </td>
        </tr>

        <tr class="titres-block">
            <td>Quizz</td>
        </tr>
        
        <tr>
            <td class="blockblue">
                <div class="contenustat">
                    <p>Nombre de quizz disponibles : {{ nbQuizz }}</p>
                    <p>Nombre de quizz lancés par les joueurs : {{ nbQuizzJoues }}</p>
                    <p>Score moyen des joueurs : {{ scoreMoyen }}</p>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}